@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes gradient {
    0%, 100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }

  @keyframes bounce-slow {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }

  @keyframes bg-rotate-1 {
    0%, 70% {
      opacity: 1;
    }
    75%, 95% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes bg-rotate-2 {
    0%, 70% {
      opacity: 0;
    }
    75%, 95% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .animate-gradient {
    background-size: 200% 200%;
    animation: gradient 3s ease infinite;
  }

  .animate-bounce-slow {
    animation: bounce-slow 2s ease-in-out infinite;
  }

  .animate-bg-rotate-1 {
    animation: bg-rotate-1 20s ease-in-out infinite;
  }

  .animate-bg-rotate-2 {
    animation: bg-rotate-2 20s ease-in-out infinite;
  }
}

* {
  scroll-behavior: smooth;
}
